@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font: 400 16px/30px $base-font;
    color: $font-color;
}

a {
    text-decoration: none;
    color: $links-color;
}

input {
    outline: none;
    height: 68px;
    width: 400px;
    font-size: 20px;  
    line-height: 24px;
    padding-left: 26px;
    border: 1px solid #d3d6d9;
    @include screen(580){
        width: 300px;
    }
    @include screen(450){
        width: 250px;
        height: 50px;
    }
    @include screen(350){
        width: 200px;
        height: 50px;
    }
   
}

/*::-webkit-input-placeholder{
    color: rgba(108, 194, 158, 0.8);
}*/

table {
    border-collapse: collapse;
}

.wrapper {
    overflow: hidden;
}

.container {
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
}

.row{
    display: flex;
    @include screen(768){
        flex-direction: column;
    }
}
.about{
    text-align: center;
    padding-top: 118px;
    padding-bottom: 33px;

    @include screen(768){
        padding-top: 90px;
    }
    @include screen(540){
        padding-top: 65px;
    }


    p{
        padding: 36px 245px 145px;

        @include screen(768){ 
        padding:25px 80px 50px;
        }
        @include screen(540){
        padding: 25px 40px 45px;
        }
    }
}
.centered{
    display: flex;
    align-items:center;
    justify-content:center;
    padding: 20px;
     
}
.col{
    flex-shrink: 0;
    flex-grow:1;
    position: relative;
    overflow: hidden;
    min-height: 267px;
    @include screen(768){
        min-height: 500px;
    }

   
    &__background{
        position: absolute;
        min-height: 100%;
        min-width: 102%;
        max-width: none;
        width:auto;
        left: 50%;
        top: 50%;
       
        transform: translate(-50%, -50%);
    }

    &__link{
        display: block;
       
    }

    &__icon{
        position: relative;
        z-index: 10;
         
        &--hidden{
            @extend .col__icon;
            opacity: 0;
            transition: .3s;
            position: absolute;
            background-color: rgba(108, 194, 158, 0.8);
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 10;
        }
    }
    &__text1, &__text2, &__text3{
        
        background:$white;
        text-align: center;
        position: relative;


        &:after {
            content: "";
            position: absolute;
            left: calc(50% - 10px);
            top: 100%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: $white transparent transparent transparent;
            z-index: 1;
        }
        p{
            text-align: justify;
            position: relative;
            
            &::after{
                content: "";
                width: 50px;
                height: 1px;
                position: absolute;
                left: calc(50% - 25px);
                bottom: -32px;
                background-color: rgba(53, 55, 56, 0.2);
            }
        }
    }
  &__static-img{
    height: 200px;
    position: relative;
    overflow: hidden;
  }
  &--fullheight{
      @extend .col;

      .row{
         height: 100%;
      }

  }
}

.col__text1{
    padding: 70px 65px 85px;
    @include screen(768){
        padding: 50px;
    }
}
.col__text2{
    padding: 60px 70px 103px;
    @include screen(768){
        padding: 50px;
    }
}
.col__text3{
    padding: 58px 70px 107px;
    @include screen(768){
        padding: 50px;
    }
}
.col-100{
    @extend .col;
    width:100%;
}
.col-66{
    @extend .col;
    width: 66.7%;
    @include screen(768){
        width: 100%;
    }
    
}
.col-33{
    @extend .col;
    width:33.3%;
    @include screen(768){
        width: 100%;
    }
}
.col-50{
    @extend .col;
    width:50%;
    @include screen(768){
        width: 100%;
    }
}

.swiper-slide{
    text-align: center;
}
.swiper-autor{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}
