.footer{
    background-color: #f7f7f7; 
    padding-top: 100px;
}
.row{
    display: flex;
    justify-content: space-between;
    &__footer{
        display: flex;
    justify-content: space-between;
    }
    
}
.col-331{

    &__images{
        padding: 8px;
    }
    &__address{
        padding: 0 0 105px 250px;
        font-size: 14px;

        @include screen(1024){
            padding: 0 0 55px 150px;
        }
        @include screen(768){
            padding: 0 0 20px 40px;
        }
    }
    &__handcraft{
        padding: 0 250px 105px 0;

        @include screen(1024){
            padding: 0 150px 55px 10px;
        }
        @include screen(768){
            padding: 0 20px 10px 10px;
        }
    }
}
.col-501 img{
    font-size: 14px;
     padding-left: 10px;
}
